.container {
  display: flex;
  box-sizing: border-box;
  padding: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid red;
  justify-content: space-between;
  align-items: flex-start;
}