<div class="movie-container">
  <div class="header"> 
    <div class="title"> {{ movie.Title }} </div>
    <button class="action" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <mat-menu #menu="matMenu">
          <button (click)="openEditDialog()"mat-menu-item>
            <span>Edit</span>
          </button>
          <button (click)="openDeleteDialog()" mat-menu-item>
            <span>Delete</span>
          </button>
        </mat-menu>
      </button>
  </div>
      
  <div class="content">
    <div class="details ">
      <p> <span>IMDB ID </span>  {{ movie.imdbID }} </p>
      <p> <span>Year </span>  {{ movie.Year}} </p>
      <p>  <span>Runtime </span>  {{ movie.Runtime}} </p>
      <p> <span>Genre </span> {{ movie.Genre}} </p>
      <p> <span>Director </span>  {{ movie.Director}} </p>
    </div>
    <img src="{{movie.Poster}}" alt="">
  </div>
</div>