
.edit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  .header {
    line-height: 1.5em;
    font-size: 1.5em;
    margin: 0.5em 0;
    text-align: center;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .mat-dialog-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}